<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" type="text/css">
        <title>CRUM</title>
    </head>
    <body>
        <h1>Express + SQL CRUM</h1>
        <form id="user-form">
            <input type="text" name="username" id="username-input" placeholder="username" required autocomplete="off"> 
            <input type="submit" value="submit">
        </form>
        <table>
            <thead>
                <th>username</th>
                <th>creation_date</th>
                <th>update_date</th>
                <th> </th>
            </thead>
            <tbody>
                <% users.forEach((value) => { %>
                    <tr id=<%- `user-${value.id}` %> >
                        <td>
                            <input class="input-read" type="text" autocomplete="off" required value=<%- value.username %> >
                        </td>
                        <td>
                            <%- value.created_at %>
                        </td>
                        <td>
                            <%- value.updated_at %>
                        </td>
                        <td>
                            <button class="delete-button">Delete</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <% if (users.length == 0) { %>
            <h2 id="nouser-warn">Create an user to start!</h2>
        <% } %>

        <script src="./scripts/usersController.js"></script>
    </body>
</html>