<div id="modal" class="d-none">
    <div class="container">
        <button id="close-modal-button">X</button>
        <h2 id="profile-username">{username}</h2>
        <div class="bio-form">
            <label for="profile-bio" style="display: block;">User profile BIO</label>
            <textarea name="bio" id="profile-bio" cols="50" rows="5"></textarea>
            <button id="update-bio">Update</button>
        </div>
    </div>
</div>